@font-face {
    font-family: "Oswald";
    src: url(Fonts/static/Oswald-Regular.ttf);
}

@font-face {
    font-family: "Oswald";
    font-weight: bold;
    src: url("Fonts/static/Oswald-Bold.ttf");
}

@font-face {
    font-family: "Oswald";
    font-weight: 600;
    src: url(Fonts/static/Oswald-SemiBold.ttf);
}

@font-face {
    font-family: "Oswald";
    font-weight: lighter;
    src: url("Fonts/static/Oswald-Light.ttf");
}