body {
    margin: 0;

    font-family: "Oswald", Arial, Helvetica, sans-serif;
    line-height: 20px;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    margin: 25px 0px;
    line-height: 35px;
}

p {
    font-size: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* #region  Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #2f2f2f;
    padding: 0 35px;
    color: #fff;
}

/*Logo*/
.bigTitle {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

.subTitle {
    font-size: 18px;
    color: #f00;
    /*#f56f04;*/
}

Header li {
    text-align: center;
}

.sections {
    display: flex;

    padding: 0px;
}

/*Sections Button*/
.sections li a {
    display: inline-block;
    padding: 20px;
    margin: 0%;
    font-weight: bold;
}

.sections a:hover {
    background-color: #f00;
}

.fakeAccount {
    display: flex;
    gap: 30px;

    color: #969696;
    font-size: 15px;
}

/* #endregion */

/* #region  Hero */
#SectionHero {
    background-color: #2f2f2f;
    padding: 50px 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.text {
    width: 25%;
}

.Hero {
    font-size: 41px;
    color: #e5e7eb;
    font-weight: 900;
    line-height: 40px;
    margin: 0 0 8px 0;
    padding: 0;
}

.subHero {
    color: red;
    font-size: 30px;
    margin-bottom: 18px;
}

.HeroPara {
    font-size: 20px;
    color: #fff;
    margin: 0px;
    margin-bottom: 25px;
    line-height: 25px;
}

.HeroButton {
    background-color: #3882f6;
    border-radius: 6px;
    border: none;
    padding: 5px 30px;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 100%;
}

.img_src {
    width: 550px;
    height: 366px;

    color: rgb(200, 200, 200);
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

/* #endregion */

/*  #region InfosAndContext */

#InfosAndContext {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 16px;

    background-color: #bebebe;
}

/* #region  Infos */
#Infos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;

    width: 350px;
}

.infosTable {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tableHeader {
    font-weight: 600;
    font-size: large;
    margin-left: 4px;
}

tr {
    border: black solid 2px;
}

table li {
    list-style-type: disc;
    margin-left: 25px;
}

.listHeader {
    font-size: 18px;
    margin-left: 4px;
}

.src {
    margin-top: 5px;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

/* #endregion */

/* #region Context */
#Context {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.imagesTexts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.imageText {
    width: 450px;
}

/* #endregion */
/* #endregion */

/* #region Source */

#Source {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 50px 250px 80px 250px;
    /*margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 80px;*/
}

.imgP {
    display: flex;
    align-items: center;
    gap: 25px;
}

.imgs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* #endregion */

/* #region implique */
#Implique {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #969696;
    padding-bottom: 25px;
}

#Implique .imageText {
    width: 350px;
}

/* #endregion */

/* #region consequence */
#Consequence {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #2f2f2f;
    color: white;
    padding: 35px 75px;
}

#Consequence ul {
    display: flex;
    gap: 25px;
}

#Consequence h3 {
    font-weight: 600;
    font-size: medium;
    margin-bottom: 2px;
}
#Consequence h4 {
    font-size: large;
    margin-bottom: 8px;
}

/* #endregion */

/* #region footer */
footer {
    display: flex;
    justify-content:  space-around;
    align-items: center;

    padding: 25px 0px;
    background-color: #0e0e0e;
    color: white;
}


/* #endregion */